<div class="row m-0 justify-content-center">
    <div class="col-3">
        <div class="top-row ">
            <img class="logo" src="/Images/logo.png" />
        </div>
    </div>
    <div>
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Search">
                    <span class="oi oi-zoom-in" aria-hidden="true"></span> Search
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="AddFlight">
                    <span class="oi oi-plus" aria-hidden="true"></span> Add Flight
                </NavLink>
            </li>
        </ul>
    </div>
</div>

